@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

*{
    font-family: 'Gloria Hallelujah', cursive;
}
ul{
  display: flex;
}
.h1{
   color: #E85a4F;
}
body{
    background-color: #F3E0DC;
}

h2{
    font-size: 15px;
}
.mangaimg{
    height: 50%;
    width: 60%;
}

.btn{
    background-color: #4285f4;
}
.btn:hover{
    background-color: #E85a4F;
}
#fixnav{
    background-color: #5C2018;
}
#fixfoot{
    position: relative;
    top: 250px;
    height: 19vh;
    background-color: #5C2018;
}
#newfoot{
    position: relative;
    top: 350px;
    height: 19vh;
    background-color: #5C2018;
}
#editfoot{
    position: relative;
    top: 350px;
    height: 19vh;
    background-color: #5C2018;
}
/* show page */
.imgfix{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

/* showpage h3 */
.showh3{
    text-align: center;
}

.pfix{
    text-align: center;
    
}


#content {
    position: relative;
    z-index: 2;
    padding: 30px;
    font-weight: bold;
}
.img1{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    
}



  .container {
   
    display: flex;
  
  }
  .sidebar {
    width: 50%;

  }
  .registration {
    width: 50%;
 }
 .loginh1{
     color: #5C2018;
 }

 #buttonlogin{
     background-color: #E85a4F;
 }
 #buttonsignup{
    background-color: #2a1b3D;
}
  
 
  a{
    color: #5C2018;
  }
  
  .a{
    color: #2a1b3D;
  }
  .signuph1{
    color: #2a1b3D;
  }

  