<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel='stylesheet' href='/public/style.css' />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
</head>
<body>
    
    
        <form action="/users" method="POST">
          <div class="row">
            <div class="col s12 m3 offset-m4">
              <div class="card">
                <div class="card-action teal lighten-1 white-text">
                  <h3>Sign up</h3>
                </div>
                <div class="card-content">
                  <div class="form-field">
          <label for="name">User Name:</label>
          <input type="text" name="username" required/>
          </div><br>

          <label for="password">Password:</label>
          <input type="password" name="password" />
          <div class="form-field">
            <button class="btn-large waves-effect waves-dark" type="submit" value="Submit" style="width: 100%;">Sign Up</button><br><br>
        </div><br>
      </div>
    </div>
  </div>
  </div>
  <form>

       
      
</body>
</html>